/* ==================================================
    =600px
===================================================== */
@import 'base';

/* -------------------------------------------------------------------------- Login page */
#wrapper{
	.login-footer{
	  position: inherit;
		margin: auto;
	  margin-top: 50px;
	  width: 270px;
	}
}


.img-overlay:after{
	display: none;
}

.mobile-menu {
	width: 240px;
}
.page-cover {
	display: none;
	.desktop-img {
		display: none;
	}
	.mobile-img {
		display: block;
	}
	video {

	}
}
#login-header .site-logo a {
	width: 150px;
    height: 36px;
}


/* ================================================== Dashboard */
#account-slider {
	.account-box {
		width: 300px;
		padding: 15px;
	}
	.transaction-txt,
	.small-balance {
		padding-right: 75px;
	}
	.slide{
		margin: 0 5px;
	}
}
.account-box {
	.account-main {
		padding-top: 50px;
		padding-left: 0;
	}
	.acc-img {
		width: 40px;
		height: 40px;
	}
	.main-balance p {
		font-size: 26px;
	}
	.small-balance {
		// margin-bottom: 65px;
	}
}
.accounts-widget .slider-button-prev,
.accounts-widget .slider-button-next {
	display: none;
}
#account-slider {
	margin-bottom: 0;
}
#account-slider .slick-dots {
	display: block !important;
	text-align: center;
	margin-top: 15px;
	height: 20px;
	top: 0;
	left: calc(50% - 70px);
	bottom: 0px;

		li {
			display: inline-block;
			margin: 0 4px;
		}
		li button {
			width: 9px;
			height: 9px;
			background: transparent;
			border: 2px solid #fff;
			opacity: 1;
			padding: 0;
			@include ti;
			@include rounded(6px);
		}
		.slick-active button {
			background: #fff;
		}
}
.account-list {
	.col-1 .drag {
		top: 9px;
	}
	.col-2 .icon-wrap {
		display: none;
	}
}

.widget-grid-options {
	.grid-title {
		margin-bottom: 10px;
	}
	.grid-options {
		padding-right: 10px;
	}
	.grid-option {
		clear: both;
		float: none;
		margin-bottom: 10px;
	}
}

/* ================================================== Transactions list */

.account-row .slider-button-prev,
.account-row .slider-button-next {
	display: none;
}
.account-row {
	padding-top: 0;
		.account-box .acc-img {
		    width: 40px;
	    	height: 40px;
		}
		.account-box .account-main {
			padding-top: 0;
		}
		// .account-box .acc-nr, {
		// 	text-align: right;
		// 	margin-top: 25px;
		// }
		.account-box .acc-name {
			font-size: 18px;
		}
		.account-box .main-balance .balance {
			font-size: 18px;
		}
}



/* ================================================== Account */
.custom-list-1 {
	li {
		padding: 25px 0 5px 0;
	}
	.left-content,
	.right-content {
		width: 100%;
		text-align: left;
	}
}

.widget-inbox {
	.table-row .col .msg-title {
		padding-right: 0;
		    font-size: 14px;
    		line-height: 20px;
    		white-space: pre-wrap;
    		padding-top: 8px;
	}
	.table-row .col .msg-date {
		width: 100%;
		position: static;
			&:after {
				display: none;
			}
	}
}

/* ================================================== Payments */
.account-row .account-single .account-box {
	.acc-nr {
		margin-top: 0;
	}
	.acc-nr,
	.acc-name {
		text-align: left;
	}
	.account-main {
		padding-left: 50px;
		padding-top: 0;
		margin-bottom: 10px;
	}
	.main-balance p {
		padding-left: 50px;
	}
	.acc-name,
	.main-balance .balance {
	    font-size: 22px;
    	line-height: 26px;
	}
}
.custom-form.uk-grid .group {
	width: 100%;
}
.plain-list {
	.key {
		width: 100%;
	}
	.value {
		width: 100%;
	}
}
.account-row .title-1 {
	padding-left: 12px;
}
.account-row.row-title {
	padding-top: 10px;
}
.payment-widget {
	h2 {
		width: 100%;
		margin-bottom: 20px;
	}
	.steps {
		position: static;
		margin-bottom: 30px;
	}
}
.payment-list {
	.btn-1 {
		width: 100%;
		min-width: 0;
	}
}

/* ================================================== Inbox */
.side-modal-popup {
	width: 100%;
	padding: 25px 5px 25px 20px;
	.bottom-actions {
		padding-right: 20px;
	}
}
.side-modal-popup.active {
	left: 0;
	transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	-webkit-transform: translateX(0px);
}

/* ================================================== Cards */
.plain-list {
  .checkbox-wrap-2 {
    .checkbox-2.styledCheckbox {
      float: left;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }
}


/* ================================================== Popups */
.popup-1 .popup-header h3,
.popup-2 .popup-header h3 {
	font-size: 24px;
}
.popup-7 {
	.dash:after {
      right: 50%;
      margin-right: -3px;
      top: 50px;
    }
}

/* ================================================== Prelogin Product Catalogue */

.login-main {
	padding-bottom: 90px;
}

.prelogin-full {
	.prelogin-product .product-box {
		width: 100%;
	}
	.prelogin-product .product-box:nth-child(odd) {
		margin-right: 0;
	}
}
.product-wrapper {
	.product-box {
		width: 100%;
		margin-right: 0%;
	}
	.product-list .product-box:nth-child(3n + 3) {
		margin-right: 0%;
	}
}
.product-single .product-actions {
	.btn-1 {
		width: 100%;
		margin-bottom: 10px;
	}
	.btn-1:first-child {
		margin-right: 0;
	}
}
.prelogin-full .col-head {
	padding-left: 0;
	padding-right: 20px;
}

.product-actions{
	.btn-1 {
		width: 100%;
		margin-bottom: 10px;
	}
}

/* ================================================== prelogin steps */

.statement-half,
.statement-half:last-child {
	width: 100%;
	padding: 0;
	border: none;
}

/* ==================================================
    =Sticky footer
===================================================== */

#wrapper {
	padding-bottom: 0;
}
#page-footer {
	padding-top: 10px;
  position: relative;
}

/* ================================================== self care applications */

.document-actions {
	.description,
	.btn-wrapper {
		width: 100%;
	}
	.description {
		margin-bottom: 10px;
	}
	.btn-wrapper {
		.btn-1 {
			width: 100%;
			margin: 0 0 10px 0;
		}
	}
}

/* ================================================== Tips and tricks */

.tips-and-tricks-modal {
	width: 95%;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 250px;
    .modal-content-wrapper {
    	height: auto;
    	margin-bottom: 40px;
    	padding: 0 25px;
    }
    .modal-content {
		top: 50%;
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}
	.modal-header {
		padding: 15px 50px 0;
	}
}
.tips-and-tricks-modal:before {
	border-width: 0 65px 65px 0;
}
.tips-and-tricks-modal:after {
	content: "";
    width: 25px;
    height: 26px;
    position: absolute;
    top: 8px;
    right: 6px;
    background: url(../img/icons/lightbulb-icon.png) no-repeat center center;
    background-size: 25px;
}

/* ==================================================
    =Popups
===================================================== */

.popup-box {
	max-width: 540px;
    width: 96%;
    top: 50px;
    left: 2%;
    transform: translate(0%, 0%);
}
.modal-container {
    position: absolute;
    height: 100%;
}
body.popup-open {
	position: relative;
}
.popup-3 {
	height: auto;
	overflow: visible;
}


