/* ==================================================
    =720px
===================================================== */
@import 'base';

/* ================================================== Widget grid */
// Cols under 720px
.col-ss-12 {
  width: 100%;
}
.col-ss-11 {
  width: 91.66666667%;
}
.col-ss-10 {
  width: 83.33333333%;
}
.col-ss-9 {
  width: 75%;
}
.col-ss-8 {
  width: 66.66666667%;
}
.col-ss-7 {
  width: 58.33333333%;
}
.col-ss-6 {
  width: 50%;
}
.col-ss-5 {
  width: 41.66666667%;
}
.col-ss-4 {
  width: 33.33333333%;
}
.col-ss-3 {
  width: 25%;
}
.col-ss-2 {
  width: 16.66666667%;
}
.col-ss-1 {
  width: 8.33333333%;
}
.col-ss-hidden {
	display: none;
}

//======================================================
.slick-dots{
  top: -40px;
  left: calc(50% - 24px);
}

/* -------------------------------------------------------------------------- Login page */
.page-cover {
	video {

	}
}
.login-main {
	padding-top: 100px;
}
.login-content {
  margin-top: 50px;
	padding: 0 20px;
	.col-left,
	.col-right {
		width: 100%;
		padding: 0;
	}
	.col-right {
		margin-bottom: 30px;
	}
	.col-right h2 {
	    font-size: 30px;
    	line-height: 30px;
	}
}


/* -------------------------------------------------------------------------- Dashboard */

.slider-tabs {
	top: 410px;
		li {
			padding: 8px 5px;
		}
		li a {
			font-size: 12px;
		}
}

.widget-grid .widget-h-1 .widget-inner {
	height: auto;
}

.widget-grid .widget-map .widget-inner,
.widget-grid .widget-map .wap-wrapper {
	height: 400px;
}


/* ================================================== Prelogin ATM Branch */
.page-prelogin-atm .login-main {
	padding-top: 90px;
}
.prelogin-full {
	.inner {
		height: auto;
	}
	h2 {
		font-size: 20px;
	}
	.col-left {
		width: 100%;
		float: none;
	}
	.col-right {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		height: 300px;
	}
	.col-right.prelogin-map {
		height: 300px;
	}
}


/* ================================================== Payments */
.account-row .account-single .account-box {
	.account-main,
	.main-balance {
		width: 100%;
	}
	.main-balance p {
		text-align: left;
		padding-left: 80px;
	}
}


/* ================================================== Prelogin Product Catalogue */
.prelogin-full {
	.col-right {
		height: auto;
	}
	.product-list {
		height: auto;
	}
}
.product-slider {
	.product-inner {
    	padding-left: 20px;
    	padding-right: 20px;
    }
    .slider-button-prev,
    .slider-button-next {
    	display: none;
    }
    .slick-dots {
    	top: auto;
    	bottom: 0;
    }
    h3 {
    	font-size: 26px;
    }
}
.product-single .product-info {
	li {
		width: 100%;
	}
	li:nth-child(odd) {
		margin-right: 0;
	}
}
.account-small-slider {
	.single-slide {
		.small-slider .slide {
			width: 550px;
			margin-left: auto;
			margin-right: auto;
		}
		.slider-button-prev,
		.slider-button-next {
			display: none;
		}
	}
}

/* ================================================== Prelogin Sign up */

.sign-up-data-check {
	.half,
	.half:nth-child(2) {
		width: 100%;
		padding: 0;
	}
}
#map-canvas-signup {
	margin-top: 20px;
}

/* ================================================== Cards */

.custom-table.card-limit {
	.checkbox-wrap-2.fl-r {
		float: left !important;
	}
}

/* ================================================== Calendar */

.calendar {
	.table-head {
		display: none;
	}
	.table-body {
		border-top: 1px solid #d0d0d0;
	}
	.td {
		width: 100%;
		height: auto;
		min-height: 40px;
		a {
			padding: 10px;
		}
		p {
			position: static;
			margin-bottom: 0;
			float: left;
			span {
				display: inline-block;
				margin-left: 10px;
			}
		}
		.event-wrapper:last-child {
			margin-bottom: 0;
		}
	}
}
.transaction-tracker-wrapper {
	position: static;
	bottom: 0;
	left: 0;
	float: right;
}
.time-lapse-trigger {
	width: 100%;
	margin: 20px auto 25px;
}

/* ================================================== Bill presentment */

.custom-table {
	.action-wrap-1 {
		.btn-1,
		.btn-2 {
		  display: inline-block;
		  width: 100%;
		  margin-right: 0%;
		  margin-bottom: 10px;
		  float: none;
		}
		.btn-1:last-child,
		.btn-2:last-child {
		  margin-bottom: 0;
		}
	}
}
.table-corner-button {
	position: static;
	margin: 10px 0;
}

/* ================================================== Tips and tricks */

.widget.widget-tips-and-tricks {
	.widget-header {
		margin-bottom: 40px;
	}
	.tips {
		position: relative;
		bottom: 0;
	}
}
.widget.widget-tips-and-tricks:before {
	border-width: 0 65px 65px 0;
}
.widget.widget-tips-and-tricks:after {
	content: "";
    width: 25px;
    height: 26px;
    position: absolute;
    top: 8px;
    right: 16px;
    background: url(../img/icons/lightbulb-icon.png) no-repeat center center;
    background-size: 25px;
}
