/* ==================================================
    =980px
===================================================== */
@import 'base';

$color1: #ccd32b;
$color2: #28007c;

body {
	background: $color1;
}
#main {
	padding-top: 50px;
}

//======================================================
.slick-dots{
  top: -30px;
}

.img-overlay:after{
	background-size: 400px;
}
// -----------------------------------------------------------

.widget-small-currency{
	.half{
		float: left;
		width: 50%;
	}
}
.widget{
	.title-4{
		span:after{
			top: -26px;
			left: -20px;
		}
	}
}
/* -------------------------------------------------------------------------- Login page */
.menu-btn {
	display: block;
	cursor: pointer;
		li {
			width: 30px;
			height: 2px;
			background: #28007c;
			margin-bottom: 7px;
		}
		.second {
			position: relative;
		}
		&.with-notify .second {
			width: 21px;
		}
		&.with-notify .second:after {
			content: '';
			width: 8px;
			height: 8px;
			@include rounded(100%);
			position: absolute;
			right: -10px;
			top: -3px;
			background: #ccd32b;
		}
}
.mobile-menu {
	display: block;
	position: absolute;
	width: 260px;
	height: auto;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.mobile-menu .main-nav {
		li {
			margin: 14px 15px;
		}
		li a {
			font-family: "Roboto-Regular";
			display: inline-block;
			width: 100%;
			font-size: 16px;
			line-height: 20px;
			font-weight: 700;
			color: #fff;
			text-align: left;
			text-transform: uppercase;
			@include transition(color, 0.3s, ease);
			position: relative;
		}
		li i {
			display: block;
			float: left;
			width: 20px;
			height: 20px;
			background-image: none;
			background-repeat: no-repeat;
			background-size: 20px;
			margin-right: 15px;
		}
		li a.active {
			color: $color2;
		}
		.icon-login {
			background-position: center -31px;
		}
		.icon-contact {
			background-position: center -30px;
		}
		.icon-exchange {
			background-position: center -30px;
		}
		.icon-pin {
			background-position: center -30px;
		}
		.icon-catalogue {
			background-position: center -30px;
		}
		.icon-eye {
			background-position: center -32px;
		}
		.icon-question {
			background-position: center -30px;
		}
		// a.active .icon-login {
		// 	background-position: center 1px;
		// }
		// a.active .icon-contact {
		// 	background-position: center 1px;
		// }
		// a.active .icon-exchange {
		// 	background-position: center 2px;
		// }
		// a.active .icon-pin {
		// 	background-position: center 0px;
		// }
		// a.active .icon-catalogue {
		// 	background-position: center 0px;
		// }
		// a.active .icon-eye {
		// 	background-position: center 2px;
		// }
		// a.active .icon-question {
		// 	background-position: center 1px;
		// }

		/* Main menu */

		a.active .icon-dashboard-3 {
			background-image: url(../img/icons-2x/icon-dashboard-2.png);
		}
	    a.active .icon-safe-3 {
	    	background-image: url(../img/icons-2x/icon-safe-2.png);
	    }
	    a.active .icon-card-4 {
	    	background-image: url(../img/icons-2x/icon-card-2.png);
	    }
	    a.active .icon-money-3 {
	    	background-image: url(../img/icons-2x/icon-money-2.png);
	    }
	    a.active .icon-exchange-3 {
	    	background-image: url(../img/icons-2x/icon-exchange-2.png);
	    }
	    a.active .icon-contact-3 {
	    	background-image: url(../img/icons-2x/icon-contact-3.png);
	    }

	    .submenu {
	    	display: none;
	    	padding-left: 20px;
	    }
	    .submenu li {
	    	margin: 10px 15px;
	    }
	    .submenu li a {
	    	font-size: 14px;
	    }
}
#login-header {
	top: 0;
		.main-nav {
			display: none;
		}
		.menu-btn {
			position: absolute;
			top: 30px;
			right: 20px;
		}
		.site-logo a {
			margin-left: 20px;
		}
		.header-lang{
			display: none;
		}
}
#wrapper {
	transform: scale(1) translate3d(0,0,0);
	-moz-transform: scale(1) translate3d(0,0,0);
	-ms-transform: scale(1) translate3d(0,0,0);
	-o-transform: scale(1) translate3d(0,0,0);
	-webkit-transform: scale(1) translate3d(0,0,0);
	@include transition(transform, 0.2s, ease);
}
.menu-open #wrapper {
	transform: scale(0.85) translate3d(-260px,0,0);
	-moz-transform: scale(0.85) translate3d(-260px,0,0);
	-ms-transform: scale(0.85) translate3d(-260px,0,0);
	-o-transform: scale(0.85) translate3d(-260px,0,0);
	-webkit-transform: scale(0.85) translate3d(-260px,0,0);
}
.fixed-height #wrapper {
	height: 100vh;
	overflow: hidden;
}
.prelogin-full.full-break,
.prelogin-full.sign-up-steps {
	.col-left,
	.col-right {
		width: 100%;
		float: none;
		padding-right: 20px;
	}
	.col-right {
		position: static;
		padding-left: 20px;
	}
	.inner {
		height: auto;
	}
}
.prelogin-full.sign-up-steps .scrollable-content {
	height: auto;
}
.login-steps {
	margin-top: -20px;
}
.prelogin-full.sign-up-steps .col-head {
    top: 5px;
}
.login-main {
	padding-top: 140px;
}

/* ================================================== Header */

.login-content{
	top: 0px;
}
.login-footer{
	//display: none;
	// left: calc(25% - 109px);
}


#page-header {
	height: 70px;
		.main-nav,
		.profile-bar {
			display: none;
		}
		.site-branding {
			margin-top: 10px;
		}
		.site-logo a {
		    width: 200px;
		}
		.menu-btn {
			display: block;
			position: absolute;
			top: 20px;
			right: 20px;
		}
		.menu-btn li {
			background: #28007c;
		}
		.lang-nav{
			display: none;
		}
		.header-lang{
			display: none;
		}
}
.mobile-menu{
	.hidden-lang{
		//width: 100%;
		display: block;
		position: inherit;
		bottom: auto;
		left: auto;
		margin-left: 50px;
		.lang-nav{
			display: block;
		}
	}
}

.mobile-menu .profile-bar {
	@include cf;
	float: left;
	padding-left: 6px;
	margin-bottom: 20px;
		.profile-option {
			width: 93%;
			padding-top: 10px;
		}
		.profile-img {
			float: left;
			position: relative;
		}
		.img-box {
			width: 40px;
			height: 40px;
			overflow: hidden;
			@include rounded(100%);
		}
		.img-box img {
			width: 100%;
			height: auto;
		}
		.profile-img span {
			display: block;
			width: 26px;
			height: 26px;
			font-family: 'open-sans', sans-serif;
			font-size: 12px;
			text-align: center;
			line-height: 20px;
			font-weight: 700;
			color: #fff;
			background: #eb0255;
			border: 3px solid $color1;
			@include rounded(100%);
			position: absolute;
			top: -4px;
			right: -12px;
		}
		a {
			display: inline-block;
			width: 22px;
			height: 22px;
			float: left;
			background-repeat: no-repeat;
			background-position: center 0;
			margin-top: 10px;
			margin-left: 20px;
			&:after{
				display: none;
			}
		}
		.icon-settings-3 {
			background-size: 20px;
		}
		.icon-out-3 {
			background-size: 22px;
		}
		.profile-icons {
			float: right;
			margin-right: 25px;
		}
		.select-1 div.fancy-select div.trigger {
			color: #fff;
		}
		.select-1 div.fancy-select div.trigger:after {
			border-color: #fff transparent transparent transparent;
		}
		.select-1 div.fancy-select select:focus + div.trigger.open {
			color: #fff;
		}
		.select-1 div.fancy-select ul.options {
			border: 1px solid #2F333A;
			background: #2F333A;
		}
		.select-1 div.fancy-select ul.options li.selected,
		.select-1 div.fancy-select ul.options li.selected:hover {
			background: #494f5a;
			color: #fff;
		}
		.select-1 div.fancy-select ul.options li {
			color: #2F333A;
			color: #fff;
		}
		.select-1 div.fancy-select ul.options li:hover {
			background: #535A67;
			color: #fff;
		}
}

.popup-window{
	@include rounded(3px);
	position: absolute;
	top: calc(50% - 150px);
	left: 7.5%;
	width: 85%;
	height: auto;
	background-color: #fff;
}


/* ================================================== Dashboard */

.account-list {
	.col-1 {
		width: 50%;
		padding-top: 9px;
	}
	.col-2 {
		width: 50%;
	}
	.col-1 h2 {
		font-size: 16px;
		line-height: 26px;
	}
	.col-1 h2,
	.col-1 p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.col-2 .amount {
		font-size: 14px;
	}
	.col-2 .icon-wrap {
		margin-left: 10px;
	}
	.select-3 div.fancy-select div.trigger {
		padding-left: 5px;
		padding-right: 20px;
	}
	.select-3 div.fancy-select div.trigger:after {
		right: 0;
	}
}

/* ================================================== Payments */
.content-white.left-padding {
	padding-left: 20px;
}
// .account-small-slider {
// 	.account-main {
// 		width: 100%;
// 	}
// 	.balance-slat {
// 		width: 100%;
// 	}
// 	.account-box .main-balance {
// 		width: 100%;
// 	}
// }
.account-row {
	padding: 0;
}
.account-small-slider {
	padding: 35px 0 0;
		.slide {
			padding: 0;
		}
		.account-box {
			opacity: 1;
			padding-top: 25px;
			@include rounded(0);
			padding-bottom: 40px;
		}
		.account-box .acc-name {
			font-size: 26px;
		}
		.account-box .main-balance .balance {
			font-size: 24px;
		}
		.account-box .acc-nr {
			margin-bottom: 10px;
		}
		.slick-dots {
			display: block;
		}
}
.single-slide {
	.account-small-slider .slide {
		width: 100%;
	}
}
.account-small-slider .slick-dots {
	display: block !important;
	text-align: center;
	position: absolute;
    bottom: 0;
    width: 100%;
		li {
			display: inline-block;
			margin: 0 2px;
		}
		li button {
			width: 9px;
			height: 9px;
			background: transparent;
			border: 2px solid #fff;
			opacity: 1;
			padding: 0;
			@include ti;
			@include rounded(6px);
		}
		.slick-active button {
			background: #fff;
		}
}
.account-row .slider-button-prev,
.account-row .slider-button-next {
	display: none;
}
.account-row .account-single {
	.account-box {
		padding-bottom: 40px;
	}
	.account-box .acc-name,
	.account-box .main-balance .balance {
		font-size: 26px;
		line-height: 30px;
	}
}
.account-row .slider-tabs {
	position: relative;
	top: 0px;
}
.widget-slat {
	.col-left,
	.col-right {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.col-left {
		margin-bottom: 30px;
	}
}
.payment-widget {
	h2 {
		width: 70%;
	}
	.steps {
		left: auto;
		right: 15px;
	}
}


/* ================================================== Payment between accounts */
.account-row .swiper-button-prev {
	margin-left: 0px;
	left: 10px;
}
.account-row .swiper-button-next {
	margin-right: 0px;
	right: 10px;
}
.account-row {
	h3 {
		z-index: 1;
		top: 10px;
		text-align: left;
		padding-left: 16px;
	}
	.title-2 {
		padding-left: 20px;
	}
	.main-balance p {
		font-size: 26px;
		margin-top: 0;
	}
}

.content-white {
	padding: 25px 20px;
}


/* ================================================== Inbox */
.widget-inbox {
	.col-left {
		width: 100%;
	}
	.col-right {
		width: 100%;
		margin-left: 0;
		padding-left: 25px;
	}
}
.message-options li {
    margin: 10px 0;
}

/* ================================================== Product Catalogue */
.product-slider .product-inner {
    padding-left: 13%;
}
.product-wrapper {
	.product-box {
		width: 100%;
		margin-right: 2%;
	}
	.product-list .product-box:nth-child(3n + 3) {
		margin-right: 2%;
	}
	.product-list .product-box:nth-child(even) {
		margin-right: 0;
	}
}
.product-single .info-inner {
	height: auto;
	min-height: 0;
}
.popup-3 {
	width: 100%;
	height: 100%;
	overflow: auto;
	border-radius: 0;
}
.custom-exchange{
	h1{
		font-size: 26px;
	}
	.custom-exchange-ad{
		padding: 0px 40px 80px 40px;
	}
	.custom-currency-details{
		margin-top: calc(50% - 120px);
	}
}
.vertical-line{
	position: absolute;
	left: -2px;
	top: 50px;
	height: 450px;
	width: 1px;
	background-color: #e4e4e4;
}


/* ================================================== Selfcare my profile */
.selfcare-widget .position-top {
	position: static;
	margin-bottom: 30px;
}

// Delete if media queries not in use
/* ==================================================
    =Media Queries
===================================================== */

@media only screen and (max-width: 900px){
	.prelogin-full {
		.contact-data-wrapper {
			.half {
				float: none;
    			width: 100%;
			}
			.map-wrapper {
			    position: relative;
			    margin-bottom: 20px;
			}
		}
	}
	.half, .half-right {
		float: none;
			width: 100%;
	}
	.custom-exchange{
		display: block;
		.margin-bottom{
			margin-bottom: 150px;
		}
		.custom-currency-details{
			margin-top: 50px;
		}
	}
	.vertical-line{
		position: absolute;
		left: 15%;
		top: -50px;
		height: 1px;
		width: 70%;
		background-color: #e4e4e4;
	}
	.custom-padding-right{
		padding-right: 0px;
	}
	.custom-padding-left{
		padding-left: 0px;
	}

}
