@mixin rounded($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition-property, $transition-time, $method) {
		-webkit-transition: $transition-property $transition-time $method;
		-moz-transition: $transition-property $transition-time $method;
		-ms-transition: $transition-property $transition-time $method;
		-o-transition: $transition-property $transition-time $method;
		transition: $transition-property $transition-time $method;
}
@mixin no-transition {
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}
@mixin ti {
    text-indent:-9999px;
    overflow: hidden;
}
@mixin cf {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}
@mixin cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
@mixin halign {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
@mixin no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-text-size-adjust:none; 
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    user-select: none;
}
@mixin calc($property, $expression) { 
	#{$property}: -webkit-calc(#{$expression}); 
	#{$property}: calc(#{$expression}); 
} 

/*dropkick mixins*/

@mixin vert-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin horiz-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
@mixin center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@mixin center-center-alt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
@mixin ghost-center($child, $is_relative: false, $font_size_0: true) {
    @if $is_relative == true {
        position: relative;
    }
    @if $font_size_0 == true {
        font-size: 0;
    }
    &:before {
        content: " ";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    #{$child} {
        display: inline-block;
        @if $font_size_0 == true {
            font-size: 16px;
        }
        vertical-align: middle;
    }
}
@mixin transform($function, $value) {
    -webkit-transform: $function#{"("+$value+")"};
    -moz-transform: $function#{"("+$value+")"};
    -ms-transform: $function#{"("+$value+")"};
    -o-transform: $function#{"("+$value+")"};
    transform: $function#{"("+$value+")"};
}
@mixin transform-none {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
@mixin transition($property, $duration: 300ms, $timing-function: ease, $vendor-prefixed: false) {
    @if $vendor-prefixed == false {
        -webkit-transition: $property $duration $timing-function;
        -moz-transition: $property $duration $timing-function;
        -o-transition: $property $duration $timing-function;
        transition: $property $duration $timing-function;
    } @else {
        -webkit-transition: #{"-webkit-"+$property} $duration $timing-function;
        -moz-transition: #{"-moz-"+$property} $duration $timing-function;
        -o-transition: #{"-o-"+$property} $duration $timing-function;
        transition: $property $duration $timing-function;
    }
}
@mixin transition-none {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
@mixin hardware-accelerate {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}